.titulo_form{
    text-align: center;
}

.Subtitulo_form{
    margin: 3rem auto;
    text-align: center;
}

#contenedor_form{
    border: 2px solid black;
    margin: 2rem 3rem;
    padding-bottom: 3rem;
}

#contenedor_form #form_contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
}

#form_contacto #seccion_datos{
    display: grid;
    justify-content: center;
    width: 100%;
}

#form_contacto #seccion_campos{
    display: grid;
    width: 90%;
}

#form_contacto #seccion_campos #btn_enviar{
    background-color: rgb(26, 72, 131);
    border: none;
    width: 60%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#form_contacto #seccion_campos #btn_enviar:hover {
    background-color: rgb(58, 98, 172);
}